@import url("https://cdn.syncfusion.com/ej2/material.css");

/* a.getstarted.scrollto.profile-icon {
    background: #457b9d;
    color: white !important;
    border-radius: 50% !important;
    padding: 10px 15px !important;
} */


/* @media (max-width:1024px){
    
    a#pills-home-tab {
        display: flex !important;
    }

    .tabs-style-shape nav ul li:first-child {
        margin-left: unset;
    }
    } */
